@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(70, 70, 75);
    border-bottom: 1px solid black;
}

.logo h3 {
    margin: 1em;
    margin-left: 2em;
    border-bottom: 1px solid white;
}

.new-book-btn {
    height: 2em;
    line-height: 2em;
    padding: 0 1em 0 1em;
    margin-right: 2em;
    color: white;
    background-color: rgb(3, 177, 3);
    border: 1px solid;
    border-radius: 40px;
    cursor: pointer;
    transition: .5s;
}

.new-book-btn:hover {
    background-color: rgb(3, 200, 3);
}

.container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    animation: showform 1s;
    z-index: 2;
}

.close {
    position: absolute;
    top: .5em;
    right: 1em;
    font-size: 1.5em;
    cursor: pointer;
    transition: .5s;
    color: white;
}

.close:hover {
    color: silver;
}

.book-form {
    width: min-content;
    display: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

@keyframes showform {
    from {opacity: 0;}
    to {opacity: 1;}
}

#add-button {
    width: 50%;
    height: 2em;
    font-size: 1em;
    color: white;
    border: 1px solid white;
    background-color: rgb(3, 177, 3);
    border-radius: 17px;
    transition: .5s;
}

#add-button:hover {
    background-color: rgb(3, 200, 3);
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + 
.slider:before {
    transform: translateX(13px)
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.book-card-container {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: rgb(31, 31, 32);
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 10px 0 0 10px;
    margin: 10px;
    color: white;
    border-radius: 10px;
    background-color: rgb(40, 40, 43);
    
}